/* h1{
    font-family: "Audiowide", sans-serif;
} */
.name{
    background: -webkit-linear-gradient(rgb(110, 230, 116), rgb(17, 175, 141));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col11{
    /* background-color: cadetblue; */
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* color: #ec2180; */
    /* padding-left: 70px; */
}

.c1 {
    min-height: 90vh;
    padding-top: 10%;
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; 
    justify-content: center; */
    font-size: calc(1px + 2vmin);

    /* color: white; */
  }
img {
    border-radius: 50%;
    /* max-width:125px;
    max-height: 150px; */
    width: 57%;
}

@media only screen and (max-width: 768px) {
    .col11{
        /* background-color: cadetblue; */
        /* display: flex;
        padding: 0px;
        flex-direction: column; */
        margin-top: 5px;
        align-items: center;
        /* justify-content: center; */
        /* color: #ec2180; */
        /* padding-left: 70px; */
    }
  }